.fade-in {
    animation: fadeIn 1s ease-out forwards; /* Aplique a animação de fade-in */
}

/* A animação de fade que controla a opacidade */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Inicialmente, as perguntas devem ter opacidade 0 */
.caixa-perguntas {
    display: none;
    opacity: 0;
}
