@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-fundo: #01080E;
    --cor-principal: #0B0D20 ;
    --cor-secundaria: #212333;
    --cor-destaque: #2BDEFD;
    --cor-texto: #D7F9FF;
    --cor-borda: #1D2931;
    --cor-btn-hover: #176B8A;
}
  
body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    transition: background-color 0.5s ease;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

h1, .caixa-perguntas, .caixa-resultado {
    font-family: 'Chakra Petch', sans-serif;
}

h1 {
    color: var(--cor-destaque);
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    font-size: 1rem;
    text-align: justify;
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border: 2px solid var(--cor-borda);
}

button:hover {
    background-color: var(--cor-btn-hover);
    color: var(--cor-principal);
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: none;
}

.caixa-resultado {
    display: none;
    margin-top: 20px;
}

.caixa-resultado.mostrar {
    display: block;
}

.caixa-alternativas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.caixa-alternativas button {
    background-color: var(--cor-secundaria);
    border: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 1.1rem;
    transition: background-color 0.3s, transform 0.3s;
}

.caixa-alternativas button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    transform: scale(1.05);
}

.caixa-alternativas button:active {
    transform: scale(0.98);
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade-in {
    animation: fadeIn 1s ease-out;
}